/* Luke Smyth stylesheet */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  background-color: #fff;
}

.main-body {
  background-color: #f0f0f0;/*grey*/
  padding: 0 20px;
}

.carousel-item img {
  height: 70vh !important;
  -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
  filter: grayscale(60%);
}

.carousel-caption {
  position: absolute;
      right: 15%;
      top: 120px;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;/*white*/
      text-align: center;
  }
  
  .carousel-title {
    background-color: #5dbcd2;
    opacity: 0.88 !important;
    padding: 5px 10px;
    font-size: 4rem;
  }

  #content-image {
    /* margin: 0 50px; */
    height: 250px;
  }

  .footlinks p a {
    color: white !important;
  }

  /* Media queries */

/* Small devices (426px and down) */
@media screen and (max-width: 426px) {
  .carousel-item img {
    height: 80vh !important;
  }
  .carousel-title {
    font-size: 1.5rem;
  }
  .navbar-brand {
    display: none;
  }
}

/*Contact us page*/
#contactH1{
	color:#5dbcd2; 
	font-size:2.5em; 
	padding-top:0.5em;
}

#contactGetInTouch{
	color:#5dbcd2; 
	font-style:italic;
}

#other{
	display: none;
}

.formBG{
	background-color: #f0f0f0;
}

.buttonHolder{
	display: block;
    margin: 0 auto;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #5dbcd2;
    border: 1px solid #5dbcd2;
    color: #fff;
    margin-right: 15px;
	width:50%;
}

.formInput{
	width:100%;
}



/*Donate page*/
#DonateH1{
	color:#5dbcd2;
}
.buyusacoffee{
	color: #5dbcd2;
	font-size: 1.5em;
	font-style: italic;
}
